# Dependências
/node_modules

# Next.js
/.next/
/out/

# Testes
/coverage/
/.tmp/

# Arquivos locais
.DS_Store
*.log
*.pem
*.tsbuildinfo
/image.png

# Variáveis de ambiente
.env*
!.env.example

# Vercel
.vercel

# Gerado pelo Next.js
next-env.d.ts
